* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Roboto', "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 100px auto;
  width: 80%;
  text-align: center;
}

h1 {
  margin: 50px 0;
  font-size: 2.5em;
}

/* Index style */

.create-message {
  position: fixed;
  top: 30px;
  right: 30px;
  text-decoration: none;
  font-size: 1.4em;
  border: solid 1px rgb(226, 226, 226);
  padding: 10px;
  border-radius: 15px;
  color: rgb(24, 24, 24);
}

.list-messages {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  margin: 20px 0;
  padding: 10px;
  color: rgb(75, 75, 75);
  border: solid 1px rgb(185, 185, 185);
  width: 70%;
  border-radius: 10px;
}

.message * {
  padding: 5px 0;
  font-size: 1.2em;
}

/* Form style */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  margin: 15px;
  font-family: inherit;
  font-size: 1.3em;
  padding: 4px 10px;
  border: none;
  border-bottom: solid 1px rgb(187, 187, 187);
  outline: none;
  text-align: center;
}

.form input:active {
  outline: none;
}

.form .btn-submit {
  padding: 10px 20px;
  background: none;
  border: solid 1px rgb(187, 187, 187);
  border-radius: 15px;
  transition: all .3s;
  cursor: pointer;
}

.form .btn-submit:hover {
  background: rgb(51, 51, 51);
  color: white;
}

.back-home {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: rgb(43, 69, 80);
  font-size: 1.3em;
  transition: all .3s;
}

.back-home:hover {
  color: rgb(164, 216, 238);
}
